<form [formGroup]="reservationForm" (ngSubmit)="save()">

	<div class="modal-header">
		<h4 class="modal-title" id="myReservationLabel"
			jhiTranslate="reservationApp.reservation.home.createOrEditLabel">Create or edit a Reservation</h4>
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true"
				(click)="clear()">&times;
		</button>
	</div>
	<div class="modal-body">
		<div class="alert alert-danger" *ngIf="reservationErrorMessage">
			{{reservationErrorMessage}}
		</div>

		<div class="form-group">
			<mat-form-field>
				<mat-select placeholder="Resource" formControlName="resourceId">
					<mat-option *ngFor="let resourceOption of resources" [value]="resourceOption.id">
						{{resourceOption.name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="form-group">
			<mat-form-field>
				<input matInput [matDatepicker]="pickerStart" placeholder="Date" formControlName="dateStartDate">
				<mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
				<mat-datepicker #pickerStart></mat-datepicker>
			</mat-form-field>

			<mat-form-field>
				<mat-select placeholder="Heure" formControlName="dateStartTime">
					<mat-option *ngFor="let startTime of startTimes" [value]="startTime.value">
						{{ startTime.name }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="form-group">


			<mat-form-field>
				<mat-select placeholder="Duration" formControlName="durationSec">
					<mat-option *ngFor="let duration of durations" [value]="duration.sec">
						{{duration.name}}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="form-group" *ngIf="reservation.user">
			<label class="form-control-label" jhiTranslate="reservationApp.reservation.user"
				   for="field_user">User</label>
			<input id="field_user" type="text" readonly disabled class="form-control"
				   [value]="reservation.user|username"/>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
			<span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
		</button>
		<button type="submit" [disabled]="reservationForm.invalid || isSaving" class="btn btn-primary">
			<span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
		</button>
	</div>
</form>
