<div>
    <h2 id="page-heading">
        <span jhiTranslate="reservationApp.resourceType.home.title">Resource Types</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-resource-type" [routerLink]="['/resource-type/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="reservationApp.resourceType.home.createLabel">
            Create new Resource Type
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="resourceTypes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="reservationApp.resourceType.name">Name</span></th>
            <th><span jhiTranslate="reservationApp.resourceType.minTimeSec">Min Time Sec</span></th>
            <th><span jhiTranslate="reservationApp.resourceType.maxTimeSec">Max Time Sec</span></th>
            <th><span jhiTranslate="reservationApp.resourceType.maxResource">Max Resource</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let resourceType of resourceTypes ;trackBy: trackId">
                <td><a [routerLink]="['/resource-type', resourceType.id, 'view' ]">{{resourceType.id}}</a></td>
                <td>{{resourceType.name}}</td>
                <td>{{resourceType.minTimeSec}}</td>
                <td>{{resourceType.maxTimeSec}}</td>
                <td>{{resourceType.maxResource}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/resource-type', resourceType.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/resource-type', resourceType.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'resource-type/'+ resourceType.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
