<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="resourceType">
            <h2><span jhiTranslate="reservationApp.resourceType.detail.title">Resource Type</span> {{resourceType.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="reservationApp.resourceType.name">Name</span></dt>
                <dd>
                    <span>{{resourceType.name}}</span>
                </dd>
                <dt><span jhiTranslate="reservationApp.resourceType.minTimeSec">Min Time Sec</span></dt>
                <dd>
                    <span>{{resourceType.minTimeSec}}</span>
                </dd>
                <dt><span jhiTranslate="reservationApp.resourceType.maxTimeSec">Max Time Sec</span></dt>
                <dd>
                    <span>{{resourceType.maxTimeSec}}</span>
                </dd>
                <dt><span jhiTranslate="reservationApp.resourceType.maxResource">Max Resource</span></dt>
                <dd>
                    <span>{{resourceType.maxResource}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/resource-type', resourceType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
