
<div *ngIf="resourceType">
    <h2><span jhiTranslate="reservationApp.resourceType.detail.title">Resource Type</span> {{resourceType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="reservationApp.resourceType.name">Name</span></dt>
        <dd>
            <span>{{resourceType.name}}</span>
        </dd>
        <dt><span jhiTranslate="reservationApp.resourceType.minTimeSec">Min Time Sec</span></dt>
        <dd>
            <span>{{resourceType.minTimeSec}}</span>
        </dd>
        <dt><span jhiTranslate="reservationApp.resourceType.maxTimeSec">Max Time Sec</span></dt>
        <dd>
            <span>{{resourceType.maxTimeSec}}</span>
        </dd>
        <dt><span jhiTranslate="reservationApp.resourceType.maxResource">Max Resource</span></dt>
        <dd>
            <span>{{resourceType.maxResource}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'resource-type/'+ resourceType.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
