<form class="form" [formGroup]="formGroup">
	<div class="form-group">
		<label>De</label>
		<input formControlName="from" type="date" class="form-control"/>
	</div>
	<div class="form-group">
		<label>à</label>
		<input formControlName="to" type="date" class="form-control"/>
	</div>
</form>

<div class="btn btn-primary" (click)="selectDateUnit('month')">Ce mois</div>
<div class="btn btn-primary" (click)="selectDateUnit('week')">Cette semaine</div>
<div class="btn btn-primary" (click)="selectDateUnit('day')">Aujourd'hui</div>
