<span class="actions">
	<span class="btn btn-primary"
		  [routerLink]="['/', { outlets: { popup: 'user-reservation-new'} }]"><i class="fa fa-plus"></i></span>
</span>
<h2>Reservations</h2>
<table class="table">
	<tr>
		<th>Start</th>
		<td>Duration</td>
		<td>Resource</td>
		<td>Who</td>
		<td></td>
	</tr>
	<tr *ngFor="let reservation of datastore.reservations|async">
		<td>{{reservation.timestampStart|datetime}}</td>
		<td>{{reservation.duration}}</td>
		<td>{{reservation.resource.name}}</td>
		<td>{{reservation.user|username}}</td>
		<td *ngIf="reservation.canEdit" class="actions">
			<span class="btn btn-primary"
				  [routerLink]="['/', { outlets: { popup: 'user-reservation/'+ reservation.id + '/edit'} }]">
				<i class="fa fa-edit"></i></span>
			<span class="btn btn-danger"
				  [routerLink]="['/', { outlets: { popup: 'user-reservation/'+ reservation.id + '/delete'} }]">
				<i class="fa fa-trash"></i></span>
		</td>
		<td *ngIf="!reservation.canEdit">
		</td>
	</tr>
</table>

<!--<pre>{{datastore.reservations|async|json}}</pre>-->
