
<div *ngIf="reservation">
    <h2><span jhiTranslate="reservationApp.reservation.detail.title">Reservation</span> {{reservation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="reservationApp.reservation.timestampStart">Timestamp Start</span></dt>
        <dd>
            <span>{{reservation.timestampStart | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="reservationApp.reservation.timestampEnd">Timestamp End</span></dt>
        <dd>
            <span>{{reservation.timestampEnd | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="reservationApp.reservation.resource">Resource</span></dt>
        <dd>
            <div *ngIf="reservation.resourceId">
                <a [routerLink]="['/resource', reservation.resourceId]">{{reservation.resourceId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="reservationApp.reservation.user">User</span></dt>
        <dd>
            {{reservation.userId}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'reservation/'+ reservation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
